{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">
            </p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Harsh Nayan</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am a second-year computer science student at the Army Institute of Technology, specializing in Full-stack development, DevOps, and machine learning. </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                
                <a target="_blank" href='https://github.com/harshnayangithub'><img
                        src="static/pngwing.com (1).png" height="40" width="40"></a> :
                harshnayangithub<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/harsh-nayan'><img
                        src="static/linkedin-logo-png-2026.png" height="34" width="33"></a> :
                harsh-nayan<br>
            </div>
        </div>
    </div>
   

  

{% endblock body %}